@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --primary-color: #740101;
    --secondary-color:#00ff4c;
    --accent1-color: #061634;
    --accent2-color: #baff29;
 
    
    --heading-font: 'merriweather','sans serif';
    --paragraph-font:'montserrat','lato','sans serif';
 

    --nav-background-color:var(--accent1-color);
    --nav-link-color:var(--accent2-color);
    --nav-hover-link-color:var(--secondary-color);
    --nav-hover-background-color:var(--primary-color);
}


body{
    font-family:var(--paragraph-font);
    max-width: 960px;
    padding:20px;
}

h1,h2,h3,h4,h5,h6 {
    font-family:var(--heading-font);
    color:var(--secondary-color);
    background-color: var(--primary-color);
    padding:10px;
}
header {
 padding:20px;
 background-color: var(--accent2-color);
}

p {
padding:25px;
color:var(--accent1-color);
font-size: 26px;
}

nav{
    background-color: var(--accent1-color);
    font-size:1.2rem;
    display:flex;
}
nav a {
    display: block;
    color:var(--accent2-color);
    text-decoration: none;
    padding:1rem;
}

nav a:hover {
    color:var(--secondary-color);
   background-color: var(--primary-color); 
}
nav a:link, nav a:visited {
    color:var(--nav-link-color);
}

/* this is for all links*/
a:hover{
color:var(--primary-color);
}