*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

main{
   order:1;
   margin:30px;
}

aside{
   /* width:200px;
    
   /* margin:0 2px;
    border: solid rgba(0,0,0,0.2);
    padding:4px;
   /* background-color: rgba(34, 6, 134, 0.1);
    color:black; */
    text-align: center;
    position:relative;

    
}
main img {
    width:150px;
    margin-left: 20px;
    border:2px solid rgba(61, 61, 129, 0.2);
    height: auto;
    float:right;
}
aside img{
    width:200px;
    height: auto;
}

p {
    padding:10px;
    font-size: 20px;
}
h1 {
    color:green;
    border-bottom: solid rgba(0,0,0,0.1);
    margin:5px;

}
aside h2 {
    position:absolute;
    right:35%;
    top:45px;
}

.grid {
    display: grid;
    grid-template-columns:35% 65% ;
    gap:0.5rem;
    
}
header, footer, .grid{
    max-width: 840px;
    margin:0 auto; /*ove to center of the page */
}

nav {
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color:rgba(90, 240, 90, 0.5) ;
    padding: 1rem;
}
nav a {
    display:block;
    padding:0.5rem;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 700;
    color:#000;
}

footer {
    margin-top: 15px;
    border-top: solid rgba(0,0,0,0.1);
    text-align: center;
    background-color: rgba(0, 60,80,0.1);
    padding:20px;
    
    
}

/* Class Selectors */
.box{
    margin:1rem;
    padding:1rem;
    border: 1px solid rgba(0,0,0,0.2);
    background-color: rgba(34,6,134,0.2);
    color:#000;

}


/* another way to archieve similar
.grid{
display:grid;
align-items:center;
}

main {
grid-column:2/3;
margin:1rem;
}

aside{
width:20rem;
position:relative;
grid-column:1/2;
grid-row:1/2;
}
*/
